.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
  line-height: 22px;
  color: #414243;
}

.main .nav .type {
  font-weight: 600;
  color: #7a7b7d;
  font-size: 14px;
}

.main .nav img {
  width: 40px;
  border-radius: 50%;
}